*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
    background-color: burlywood;
    font-family: 'poppins', sans-serif;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}










body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    background-color:blanchedalmond;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height:normal;
}

h1 {
    color: #333;
}
h2{
    color: brown;
}

.intro p {
    margin-bottom: 20px;
}

.education, .achievements {
    margin-top: 20px;
    
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.hea{
color: black;
}